/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #5e9fff;
}

header .navbar-default {
    background: url(/themes/Mirage2/images/header.png) no-repeat top center, url(/themes/Mirage2/images/header_repeat.png) repeat-x 50% 0%;
    position: relative;
    height: 170px;
}

header .navbar-default .navbar-toggle, header .navbar-default .navbar-nav {
    border-color: transparent;
    color: #039;
}

header .navbar-default .navbar-toggle > li > a, header .navbar-default .navbar-nav > li > a {
    color: #039;
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
}

header .navbar-brand img {
   height: 150px;
   width: 220px;
   z-index: 1;
   display: block;
   text-indent: -9999px;
   position: relative;
}

a {
    color: #039;
}

a:link:hover {
    text-decoration: underline;
}

a:visited {
    color: #7c4678;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

p, ul, blockquote, pre, td, th {
   font-size: 1em;
   line-height: 1.5;
   margin-bottom: 1.5em;
}

ul#about_list {
   list-style-type: circle;
   padding: 0.3em 0 0 1em;
}

header .navbar-default .navbar-toggle .icon-bar, header .navbar-default .navbar-nav .icon-bar {
    background-color: #039;
}

.trail-wrapper {
    background: transparent;
    border: none;
    color:#6C564C;
    font-weight: bold;
    text-shadow: 0 0 0.5em #fff;
}
.trail-wrapper a:visited {
    color:#6C564C;
}

#main-container #sidebar {
    background: url(/themes/Mirage2/images/bg1.png) repeat;
}

body {
    height: 100%;
    background: url(/themes/Mirage2/images/bg1.png) repeat;
    color: #464646;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
}

h1, h2, h3 {
    color: #6C564C;
}

h1 {
   font-size: 2em;
   font-weight: bold;
   margin-top: 0;
   margin-bottom: 1em;
}

h2 {
    font-size: 1.75em;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5em;
}

#file_impressum, #file_about-us, #file_deposit-license {
    font-size: 112%;
}

#main-container .row-offcanvas {
    background: transparent;
}

.main-content {
    background: transparent;
}

img.frontpage {
    margin: 5px 10px 0 0;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    opacity: .8;
    -webit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img.frontpage:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

figure.frontpage_images {
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    width: 220px;
}

figure.frontpage_images figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
    background: rgba(210, 221, 230, .9);
    text-align: center;
    font-weight: bolder;
    min-height: 46px;
}

#first_row img, #second_row img {
    display: inline-block;
}

#file_about-us div.ds-static-div {
    padding: 0 0 0.5em 0;
}

/*Social Media */ 

div#socialmedia {
 border-top: 1px solid #6C564C;
 margin-top: 2em;
 padding-top: 20px;
}
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
ul.share-buttons li {
  display: inline;
  margin-left: 5px;
}

p.subtitle {
  font-size: 1.5em;
  color: #6C564C;
  margin-bottom: 1em;
}

div .item-summary-view-metadata {
  margin: 0 0 2em 0;
  font-size: 112%;
}

div .item-page-field-wrapper {
  margin: 0;
}

div .simple-item-view-authors {
  font-weight: bold;
}

div .series {
  font-size: 125%;
}

