/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #5e9fff;
}

header .navbar-default {
    background: url(/themes/Mirage2/images/header.png) no-repeat top center, url(/themes/Mirage2/images/header_repeat.png) repeat-x 50% 0%;
    position: relative;
    height: 170px;
}

header .navbar-default .navbar-toggle, header .navbar-default .navbar-nav {
    border-color: transparent;
    color: #039;
}

header .navbar-default .navbar-toggle > li > a, header .navbar-default .navbar-nav > li > a {
    color: #039;
    font-weight: bold;
}

header .navbar-brand img {
   height: 63px;
   width: 200px;
}

a {
    color: #039;
}

a:link:hover {
    text-decoration: underline;
}

a:visited {
    color: #7c4678;
}

header .navbar-default .navbar-toggle .icon-bar, header .navbar-default .navbar-nav .icon-bar {
    background-color: #039;
}

.trail-wrapper {
    background: transparent;
    border: none;
    color:#6C564C;
    font-weight: bold;
    text-shadow: 0 0 0.5em #fff;
}
.trail-wrapper a:visited {
    color:#6C564C;
}

#main-container #sidebar {
    background: url(/themes/Mirage2/images/bg1.png) repeat;
}

body {
    height: 100%;
    background: url(/themes/Mirage2/images/bg1.png) repeat;
    color: #464646;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
}

h1, h2, h3 {
    color: #6C564C;
}

h1 {
   font-size: 2em;
   font-weight: bold;
   margin: 1em 0;
}

h2 {
    font-size: 1.75em;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5em;
}

#main-container .row-offcanvas {
    background: transparent;
}

.main-content {
    background: transparent;
}

img.frontpage {
    margin: 0 10px 10px 0;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    opacity: .8;
    -webit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img.frontpage:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

#first_row img, #second_row img {
    display: inline-block;
}



