/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #5e9fff;
}

ul.vocabulary ul {
  padding-left: 5px;
}

footer .row {
  border-top: 1px solid rgba(192, 192, 192, .5);
}

/*@media (min-width: 1200px)
{ 
footer {
  width: 1170px;
  margin-left: 10px;
  margin-right: 10px;
}}
    
.footer1 {
  background: url(/themes/Mirage2/images/footer_bg.png) repeat-x bottom center;
  margin-top: 10px;
  margin-bottom: -20px;
}*/

header .navbar-default {
    background: url(/themes/Mirage2/images/header.png) no-repeat top center, url(/themes/Mirage2/images/header_repeat.png) repeat-x 50% 0%;
    position: relative;
    height: 170px;
}

header .navbar-default .navbar-toggle, header .navbar-default .navbar-nav {
    border-color: transparent;
    color: #039;
}

header .navbar-default .navbar-toggle > li > a, header .navbar-default .navbar-nav > li > a {
    color: #039;
    font-weight: bold;
}

.navbar-nav {
    margin: 7.5px;
}

.navbar-brand {
    padding: 0;
}

header .navbar-brand img {
   height: 150px;
   width: 220px;
   z-index: 1;
   display: block;
   text-indent: -9999px;
   position: relative;
}

header .navbar-brand-xs img {
   height: 75px;
   width: 110px;
   z-index: 1;
   display: block;
   text-indent: -9999px;
   position: relative;
}

.breadcrumb {
  padding-left: 0;
}

a {
    color: #039;
}

a:link:hover {
    text-decoration: underline;
}

a:visited {
    color: #7c4678;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

p, ul, blockquote, pre, td, th {
   font-size: 1em;
   line-height: 1.5;
   margin-bottom: 1.5em;
}

ul#aboutus_list {
   list-style-type: circle;
   padding: 0.3em 0 0 1em;
}

header .navbar-default .navbar-toggle .icon-bar, header .navbar-default .navbar-nav .icon-bar {
    background-color: #039;
}

.trail-wrapper {
    background: transparent;
    border: none;
    color:#6C564C;
    font-weight: bold;
    text-shadow: 0 0 0.5em #fff;
}
.trail-wrapper a:visited {
    color:#6C564C;
}

#main-container #sidebar {
   border: 1px solid #ddd;
   min-height: 800px;
}

body {
    height: 100%;
    background: url(/themes/Mirage2/images/bg1.png) repeat;
    color: #464646;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
}

h1, h2, h3 {
    color: #6C564C;
}

h1 {
   font-size: 2em;
   font-weight: bold;
   margin-top: 0;
   margin-bottom: 1em;
}

h2 {
    font-size: 1.75em;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5em;
}

#file_impressum, #file_aboutus, #file_deposit-license, #file_privacy {
    font-size: 112%;
}

#file_privacy p {
    margin-bottom: 0.8em;
}

#file_aboutus div.ds-static-div {
    padding: 0 0 0.5em 0;
}

#main-container .row-offcanvas {
    background: transparent;
}

.main-content {
    background: transparent;
}

img.frontpage {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    opacity: .8;
    -webit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img.frontpage:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

figure.frontpage_images {
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    position: relative;
    width: 220px;
}

figure.frontpage_map {
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    position: relative;
    width: 688px;
}

figure.frontpage_mapm {
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    position: relative;
    width: 455px;
}

figure.frontpage_maps {
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    position: relative;
    width: 220px;
}


img.frontpage-logo {
    width: 150px;
}

figure.frontpage_images figcaption, figure.frontpage_map figcaption, figure.frontpage_maps figcaption, figure.frontpage_mapm figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
    background: rgba(210, 221, 230, .9);
    text-align: center;
    font-weight: bolder;
    min-height: 46px;
}

figure.frontpage_images figcaption.einzeilig {
    padding-top: 13px;
}

figure.frontpage_map figcaption.einzeilig, figure.frontpage_maps figcaption.einzeilig, figure.frontpage_mapm figcaption.einzeilig {
    padding-top: 13px;
}


#first_row img, #second_row img {
    display: inline-block;
}

#file_about-us div.ds-static-div {
    padding: 0 0 0.5em 0;
}

/*Social Media */ 

div#socialmedia {
 border-top: 1px solid #6C564C;
 margin-top: 2em;
 padding-top: 20px;
}
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
ul.share-buttons li {
  display: inline;
  margin-left: 5px;
}

p.subtitle {
  font-size: 1.5em;
  color: #6C564C;
  margin-bottom: 1em;
}

div .item-summary-view-metadata {
  margin: 0 0 2em 0;
  font-size: 112%;
}

div .item-page-field-wrapper {
  margin: 0;
}

div .item-page-field-wrapper h5 {
    margin-bottom: 5px;
    margin-top: 0;
}

div .metadataexport h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}


div .simple-item-view-authors {
  font-weight: bold;
}

div .series {
  font-size: 125%;
}

table.item-view td {
  padding-top: 0;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 0;
  vertical-align: top;
}
  
#faux {
  background: url(snow.png) repeat-y 0 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  bottom: 0;
  left: 50%;
  margin-left: -480px;
  position: absolute;
  top: 0;
  width: 230px;
}

#file_impressum ul {
  list-style-type: disc;
  list-style-position: inside;
}

#file_static ul {
  list-style-type: disc;
  list-style-position: inside;
}

footer a {
  margin: 10px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  border: none;
}

.list-group-item.active .list-group-item-heading, .list-group-item.active .list-group-item-heading > small, .list-group-item.active .list-group-item-heading > .small, .list-group-item.active:hover .list-group-item-heading, .list-group-item.active:hover .list-group-item-heading > small, .list-group-item.active:hover .list-group-item-heading > .small, .list-group-item.active:focus .list-group-item-heading, .list-group-item.active:focus .list-group-item-heading > small, .list-group-item.active:focus .list-group-item-heading > .small {
  color: #6C564C;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background: #f7f7f7;
/*url(/themes/Mirage2/images/bg1.png) repeat;*/
  border: none;
  color: #6C564C;
  font-weight: bold;
}

.list-group-item.active .list-group-item-heading {
  color: #6C564C;
  font-weight: bold;
}

.list-group-item {
  border: none;
  background: #f7f7f7;
/*url(/themes/Mirage2/images/bg1.png) repeat;*/ 
  padding: 5px 15px;
}

.list-group {
  margin-bottom: 0;
}

a.list-group-item.ds-option:hover {
  text-decoration: none;
}

a.list-group-item.rss-feed {
  font-size: 13px;
  color: #039;
}

a.list-group-item.rss-feed:hover {
  text-decoration: none;
}

a.list-group-item.ds-option::before {
  content: "\00BB";
  padding: 5px;
}

a.list-group-item.ds-option {
  font-size: 13px;
  color: #039;
}

.btn-primary {
  background: white;
  color: #555;
  border: 1px solid #ccc;
}

.btn-primary:hover, .btn-primary:active {
  background: white;
  color: #039;
  border: 1px solid #ccc;
}

.fa-file-pdf-o:before {
  padding-right: 5px;
  font-size: 20px;
}

div.publish {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.publishButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #c9c9c9;
	display:inline-block;
	cursor:pointer;
	color:#039;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:6px;
	text-align: center;
	text-decoration:none;
	width: 100%;
}
a.publishButton:hover {
	background-color:#dfdfdf;
	text-decoration:none;
}
.publishButton:active {
	position:relative;
	top:1px;
}
a.publishButton:visited {
	color:#039;
}

#mapid {
	height: 600px;
}

#maptop {
	font-size: 1.75em;
	line-height: 1;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Mehr anzeigen';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Weniger anzeigen';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  margin-bottom: 1em;
}

.map-list {
  list-style-type: circle;
  padding: 1em;
  list-style-position: inside;
  line-height: 1.5;
  margin-left: 1em;
}

.read-more-wrap {
  font-size: 112%;
}

.maplink {
  font-size: 14px;
  font-weight: bold;
}

.metadataexport {
  margin-bottom: 5px;
}

a.list-group-item.ds-option[href="/browse?type=subject"] {
  display: none;
} 
